table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}
.caption-top {
  caption-side: top;
}
.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}
.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}
.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}
.table-hover > tbody > tr:hover > * {
  color: #12263f !important;
  background-color: #f9fbfd !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-sm-table {
  display: table !important;
}
.d-sm-table-row {
  display: table-row !important;
}
.d-sm-table-cell {
  display: table-cell !important;
}
.d-md-table {
  display: table !important;
}
.d-md-table-row {
  display: table-row !important;
}
.d-md-table-cell {
  display: table-cell !important;
}
.d-lg-table {
  display: table !important;
}
.d-lg-table-row {
  display: table-row !important;
}
.d-lg-table-cell {
  display: table-cell !important;
}
.d-xl-table {
  display: table !important;
}
.d-xl-table-row {
  display: table-row !important;
}
.d-xl-table-cell {
  display: table-cell !important;
}
.d-xxl-table {
  display: table !important;
}
.d-xxl-table-row {
  display: table-row !important;
}
.d-xxl-table-cell {
  display: table-cell !important;
}
.d-print-table {
  display: table !important;
}
.d-print-table-row {
  display: table-row !important;
}
.d-print-table-cell {
  display: table-cell !important;
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
div.mdb-datatable div.mdb-datatable-filter {
  text-align: right;
}
.flex-row {
  flex-direction: row !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.w-100 {
  width: 100% !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
div.mdb-datatable div.mdb-datatable-info,
div.mdb-datatable div.mdb-dataTables_paginate,
div.mdb-datatable div.mdb-datatable-entries {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
div.mdb-datatable div.mdb-datatable-entries {
  color: #95aac9;
}
div.mdb-datatable div.mdb-datatable-entries .custom-select {
  color: #758eb2;
  outline: none;
}
div.mdb-datatable div.mdb-datatable-length label,
div.mdb-datatable div.mdb-datatable-filter label {
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
}
div.mdb-datatable div.mdb-datatable-info {
  color: #95aac9;
  /* display: flex; */
  justify-content: center;
}

.align-items-center {
  align-items: center !important;
}
div.mdb-datatable div.mdb-dataTables_paginate {
  margin: 0;
  text-align: right;
}
div.mdb-datatable div.mdb-datatable-filter input::placeholder {
  color: #beccdf;
}
.mdb-datatable tbody td:first-child,
.card-table thead th:first-child {
  padding-left: 1.5rem !important;
}
.mdb-datatable thead th:first-child {
  padding-left: 1.5rem !important;
}
.mdb-datatable thead th {
  background-color: #f9fbfd;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #95aac9;
  border-bottom-width: 1px;
}
div.mdb-datatable div.mdb-datatable-filter input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  padding-top: 0;
  display: block;
  padding-bottom: 0;
  border-color: transparent !important;
  background-color: transparent !important;
  height: calc(1.5em + 1rem + 2px);
  padding: 1rem 1.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12263f;
  /* background-color: #fff; */
  background-clip: padding-box;
  border: 1px solid #d2ddec;
  outline: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mdb-datatable .ml-1 {
  border-bottom: 1px solid #edf2f9;
}

.m-0 {
  margin: 0 !important;
}

div.mdb-datatable div.mdb-dataTables_paginate ul.pagination {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
}
.m-0 {
  margin: 0 !important;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.disabled,
:disabled {
  pointer-events: none !important;
}
.pagination .page-item.disabled .page-link {
  color: #868e96;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  /* margin-left: -1px; */
  line-height: 1.25;
  /* color: #007bff; */
  /* background-color: #fff; */
  /* border: 1px solid #dee2e6; */
}
[role="button"],
a,
area,
button,
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
.fa,
.fas {
  font-weight: 900;
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination .page-item .page-link {
  font-size: 0.9rem;
  color: #91a9cc;
  background-color: transparent;
  border: 0;
  outline: 0;
  /* transition: all 0.3s linear; */
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.form-control {
  /* display: block; */
  /* width: 100%; */
  /* height: calc(1.5em + 0.75rem + 2px); */
  /* padding: 0.375rem 0.75rem; */
  /* font-size: 1rem; */
  font-weight: 400;
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}
.page-link:hover {
  z-index: 2;
  color: #0a58ca;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  color: #0a58ca;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-link {
  padding: 0.375rem 0.75rem;
}
.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

@media (max-width: 767px) {
  div.mdb-datatable div .mdb-datatable-length,
  div.mdb-datatable div .mdb-datatable-filter,
  div.mdb-datatable div .mdb-datatable-info,
  div.mdb-datatable div .mdb-dataTables_paginate ul.pagination {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}
table.mdb-dataTable thead,
table thead.mdb-dataTable-head {
  cursor: pointer;
}
table.mdb-dataTable thead th {
  border-top-width: 0 !important;
}
.mdb-datatable table tr {
  border-bottom: 1px solid #edf2f9;
}
.mdb-datatable table th {
  border: 1px solid #edf2f9 !important;
}
.mdb-datatable table td {
  border: 1px solid #edf2f9 !important;
}
table.mdb-dataTable thead > tr > th.sorting_asc,
table.mdb-dataTable thead > tr > th.sorting_desc,
table.mdb-dataTable thead > tr > th.sorting,
table.mdb-dataTable thead > tr > td.sorting_asc,
table.mdb-dataTable thead > tr > td.sorting_desc,
table.mdb-dataTable thead > tr > td.sorting,
table thead.mdb-dataTable-head > tr > th.sorting_asc,
table thead.mdb-dataTable-head > tr > th.sorting_desc,
table thead.mdb-dataTable-head > tr > th.sorting,
table thead.mdb-dataTable-head > tr > td.sorting_asc,
table thead.mdb-dataTable-head > tr > td.sorting_desc,
table thead.mdb-dataTable-head > tr > td.sorting {
  padding-right: 30px;
}
table.mdb-dataTable thead .sorting,
table.mdb-dataTable thead .sorting_asc,
table.mdb-dataTable thead .sorting_desc,
table.mdb-dataTable thead .sorting_asc_disabled,
table.mdb-dataTable thead .sorting_desc_disabled,
table thead.mdb-dataTable-head .sorting,
table thead.mdb-dataTable-head .sorting_asc,
table thead.mdb-dataTable-head .sorting_desc,
table thead.mdb-dataTable-head .sorting_asc_disabled,
table thead.mdb-dataTable-head .sorting_desc_disabled {
  position: relative;
  cursor: pointer;
}
table.table thead th {
  border-top: none;
}
table.mdb-dataTable thead th,
table thead.mdb-dataTable-head th {
  font-weight: 600;
}
.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  border: 0;
}
.table thead th {
  vertical-align: bottom;
  /* border-bottom: 2px solid #dee2e6; */
}
table.table th,
table.table td {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
.table td,
.table th {
  padding: 0.75rem;
  /* vertical-align: top; */
  /* border-top: 1px solid #dee2e6; */
}
table th {
  font-size: 0.9rem;
  /* font-weight: 400; */
}

*,
::after,
::before {
  box-sizing: border-box;
}
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_desc:after {
  opacity: 1;
}
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  left: -0.4rem;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f063";
}
table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  position: absolute;
  bottom: 1rem;
  display: none;
  /* opacity: 0; */
}
table.mdb-dataTable thead > tr > th.sorting_asc,
table.mdb-dataTable thead > tr > th.sorting_desc,
table.mdb-dataTable thead > tr > th.sorting,
table.mdb-dataTable thead > tr > td.sorting_asc,
table.mdb-dataTable thead > tr > td.sorting_desc,
table.mdb-dataTable thead > tr > td.sorting,
table thead.mdb-dataTable-head > tr > th.sorting_asc,
table thead.mdb-dataTable-head > tr > th.sorting_desc,
table thead.mdb-dataTable-head > tr > th.sorting,
table thead.mdb-dataTable-head > tr > td.sorting_asc,
table thead.mdb-dataTable-head > tr > td.sorting_desc,
table thead.mdb-dataTable-head > tr > td.sorting {
  padding-right: 30px;
}
table.mdb-dataTable thead .sorting,
table.mdb-dataTable thead .sorting_asc,
table.mdb-dataTable thead .sorting_desc,
table.mdb-dataTable thead .sorting_asc_disabled,
table.mdb-dataTable thead .sorting_desc_disabled,
table thead.mdb-dataTable-head .sorting,
table thead.mdb-dataTable-head .sorting_asc,
table thead.mdb-dataTable-head .sorting_desc,
table thead.mdb-dataTable-head .sorting_asc_disabled,
table thead.mdb-dataTable-head .sorting_desc_disabled {
  position: relative;
  cursor: pointer;
}
table.table thead th {
  border-top: none;
}
table.mdb-dataTable thead th,
table thead.mdb-dataTable-head th {
  font-weight: 600;
}

.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  border: 0;
}
.table td,
.table th {
  padding: 0.75rem;
}
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_desc:after {
  opacity: 1;
}
.sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  left: -0.4rem;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f063";
}
table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  position: absolute;
  bottom: 1rem;
  display: block;
  opacity: 0;
  display: none;
}
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  left: -0.4rem;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f063";
}
table.mdb-dataTable thead > tr > th.sorting_asc,
table.mdb-dataTable thead > tr > th.sorting_desc,
table.mdb-dataTable thead > tr > th.sorting,
table.mdb-dataTable thead > tr > td.sorting_asc,
table.mdb-dataTable thead > tr > td.sorting_desc,
table.mdb-dataTable thead > tr > td.sorting,
table thead.mdb-dataTable-head > tr > th.sorting_asc,
table thead.mdb-dataTable-head > tr > th.sorting_desc,
table thead.mdb-dataTable-head > tr > th.sorting,
table thead.mdb-dataTable-head > tr > td.sorting_asc,
table thead.mdb-dataTable-head > tr > td.sorting_desc,
table thead.mdb-dataTable-head > tr > td.sorting {
  padding-right: 30px;
}
table.mdb-dataTable thead .sorting,
table.mdb-dataTable thead .sorting_asc,
table.mdb-dataTable thead .sorting_desc,
table.mdb-dataTable thead .sorting_asc_disabled,
table.mdb-dataTable thead .sorting_desc_disabled,
table thead.mdb-dataTable-head .sorting,
table thead.mdb-dataTable-head .sorting_asc,
table thead.mdb-dataTable-head .sorting_desc,
table thead.mdb-dataTable-head .sorting_asc_disabled,
table thead.mdb-dataTable-head .sorting_desc_disabled {
  position: relative;
  cursor: pointer;
}

.border-light {
  border-color: #e0e0e0 !important;
}
.card-img-100 {
  width: 100px;
  height: 100px;
}
.card-img-64 {
  width: 64px;
  height: 64px;
}
.mml-1 {
  margin-left: -0.25rem !important;
}
.flex-1 {
  flex: 1;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.blockquote {
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid #eceeef;
}
.blockquote.text-right {
  border-right: 0.25rem solid #eceeef;
  border-left: none;
}
.blockquote .bq-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
.blockquote p {
  padding: 1rem 0;
  font-size: 1.1rem;
}
.bq-primary {
  border-left: 3px solid #4285f4 !important;
}
.bq-primary .bq-title {
  color: #4285f4 !important;
}
.bq-danger {
  border-left: 3px solid #ff3547 !important;
}
.bq-danger .bq-title {
  color: #ff3547 !important;
}
.bq-warning {
  border-left: 3px solid #fb3 !important;
}
.bq-warning .bq-title {
  color: #fb3 !important;
}
.bq-success {
  border-left: 3px solid #00c851 !important;
}
.bq-success .bq-title {
  color: #00c851 !important;
}
.bq-info {
  border-left: 3px solid #33b5e5 !important;
}
.bq-info .bq-title {
  color: #33b5e5 !important;
}
.h1-responsive {
  font-size: 150%;
}
.h2-responsive {
  font-size: 145%;
}
.h3-responsive {
  font-size: 135%;
}
.h4-responsive {
  font-size: 135%;
}
.h5-responsive {
  font-size: 135%;
}
@media (min-width: 576px) {
  .h1-responsive {
    font-size: 170%;
  }
  .h2-responsive {
    font-size: 140%;
  }
  .h3-responsive {
    font-size: 125%;
  }
  .h4-responsive {
    font-size: 125%;
  }
  .h5-responsive {
    font-size: 125%;
  }
}
@media (min-width: 768px) {
  .h1-responsive {
    font-size: 200%;
  }
  .h2-responsive {
    font-size: 170%;
  }
  .h3-responsive {
    font-size: 140%;
  }
  .h4-responsive {
    font-size: 125%;
  }
  .h5-responsive {
    font-size: 125%;
  }
}
@media (min-width: 992px) {
  .h1-responsive {
    font-size: 200%;
  }
  .h2-responsive {
    font-size: 170%;
  }
  .h3-responsive {
    font-size: 140%;
  }
  .h4-responsive {
    font-size: 125%;
  }
  .h5-responsive {
    font-size: 125%;
  }
}
@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 250%;
  }
  .h2-responsive {
    font-size: 200%;
  }
  .h3-responsive {
    font-size: 170%;
  }
  .h4-responsive {
    font-size: 140%;
  }
  .h5-responsive {
    font-size: 125%;
  }
}
.text-primary {
  color: #4285f4 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1266f1 !important;
}
.text-danger {
  color: #ff3547 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ff0219 !important;
}
.text-warning {
  color: #fb3 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #fa0 !important;
}
.text-success {
  color: #00c851 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #00953c !important;
}
.text-info {
  color: #33b5e5 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #1a9bcb !important;
}
.text-default {
  color: #2bbbad !important;
}
a.text-default:hover,
a.text-default:focus {
  color: #219287 !important;
}
.text-secondary {
  color: #a6c !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #9540bf !important;
}
.text-dark {
  color: #212121 !important;
}
a.text-dark:hover,
a.text-dark:focus {
  color: #080808 !important;
}
.text-light {
  color: #e0e0e0 !important;
}
a.text-light:hover,
a.text-light:focus {
  color: #c7c7c7 !important;
}
.font-small {
  font-size: 0.9rem;
}
strong {
  font-weight: 500;
}

table.table a.btn.btn-light-blue {
  color: #fff;
}
.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #4285f4;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s linear;
}
.pagination .page-item.active .page-link:hover {
  background-color: #4285f4;
}
.pagination .page-item.disabled .page-link {
  color: #b5c0ca;
}

.pagination .page-item .page-link:hover {
  background-color: #eee;
  border-radius: 0.125rem;
  transition: all 0.3s linear;
}
.pagination .page-item .page-link:focus {
  background-color: transparent;
  box-shadow: none;
}
.pagination.pagination-lg .page-item .page-link {
  font-size: 1rem;
}
.pagination.pagination-sm .page-item .page-link {
  font-size: 0.8rem;
}
.pagination.pagination-circle .page-item .page-link {
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 50%;
}
.pagination.pagination-circle .page-item .page-link:hover {
  border-radius: 50%;
}
.pagination.pagination-circle .page-item.active .page-link {
  border-radius: 50%;
}
.pagination.pg-blue .page-item.active .page-link {
  background-color: #4285f4;
}
.pagination.pg-blue .page-item.active .page-link:hover {
  background-color: #4285f4;
}
.pagination.pg-red .page-item.active .page-link {
  background-color: #ff3547;
}
.pagination.pg-red .page-item.active .page-link:hover {
  background-color: #ff3547;
}
.pagination.pg-teal .page-item.active .page-link {
  background-color: #2bbbad;
}
.pagination.pg-teal .page-item.active .page-link:hover {
  background-color: #2bbbad;
}
.pagination.pg-dark-grey .page-item.active .page-link {
  background-color: #37474f;
}
.pagination.pg-dark-grey .page-item.active .page-link:hover {
  background-color: #37474f;
}
.pagination.pg-dark .page-item.active .page-link {
  background-color: #2e2e2e;
}
.pagination.pg-dark .page-item.active .page-link:hover {
  background-color: #2e2e2e;
}
.pagination.pg-blue-grey .page-item.active .page-link {
  background-color: #3f729b;
}
.pagination.pg-blue-grey .page-item.active .page-link:hover {
  background-color: #3f729b;
}
.pagination.pg-amber .page-item.active .page-link {
  background-color: #ff6f00;
}
.pagination.pg-amber .page-item.active .page-link:hover {
  background-color: #ff6f00;
}
.pagination.pg-purple .page-item.active .page-link {
  background-color: #5e35b1;
}
.pagination.pg-purple .page-item.active .page-link:hover {
  background-color: #5e35b1;
}
.badge {
  color: #fff !important;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.badge-primary {
  color: #fff !important;
  background-color: #4285f4 !important;
}
.badge-danger {
  color: #fff !important;
  background-color: #ff3547 !important;
}
.badge-warning {
  color: #fff !important;
  background-color: #fb3 !important;
}
.badge-success {
  color: #fff !important;
  background-color: #00c851 !important;
}
.badge-info {
  color: #fff !important;
  background-color: #33b5e5 !important;
}
.badge-default {
  color: #fff !important;
  background-color: #2bbbad !important;
}
.badge-secondary {
  color: #fff !important;
  background-color: #a6c !important;
}
.badge-dark {
  color: #fff !important;
  background-color: #212121 !important;
}
.badge-light {
  color: #000 !important;
  background-color: #e0e0e0 !important;
}

@-webkit-keyframes autofill {
  to {
    color: #495057;
    background: transparent;
  }
}
@keyframes autofill {
  to {
    color: #495057;
    background: transparent;
  }
}
table th {
  font-size: 0.9rem;
  font-weight: 400;
}
table td {
  font-size: 0.9rem;
  font-weight: 300;
}
table.table thead th {
  border-top: none;
}

table.table a {
  margin: 0;
  color: #212529;
}
table.table .label-table {
  height: 0.94rem;
  padding: 0;
  margin: 0;
  line-height: 0.94rem;
}
table.table.btn-table td {
  vertical-align: middle;
}
table.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
  transition: 0.5s;
}
table .th-lg {
  min-width: 9rem;
}
table .th-sm {
  min-width: 6rem;
}
table.table-sm th,
table.table-sm td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.table-scroll-vertical {
  max-height: 300px;
  overflow-y: auto;
}
.table-fixed {
  table-layout: fixed;
}
.table-responsive > .table-bordered,
.table-responsive-sm > .table-bordered,
.table-responsive-md > .table-bordered,
.table-responsive-lg > .table-bordered,
.table-responsive-xl > .table-bordered {
  border-top: 1px solid #dee2e6;
}
div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input {
  width: auto;
}
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
  margin-top: 1.2rem;
  margin-right: 1rem;
}
div.dataTables_wrapper
  div.dataTables_length.d-flex.flex-row
  .select-wrapper.mdb-select
  span,
div.dataTables_wrapper
  div.dataTables_length.d-flex.flex-row
  .select-wrapper.mdb-select
  .select-dropdown {
  margin-top: 1rem;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  text-align: left;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_filter input {
  width: auto;
}
div.dataTables_wrapper div.dataTables_filter input {
  display: inline-block;
  margin-left: 0.5rem;
}
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
}
div.dataTables_wrapper
  div.dataTables_paginate
  ul.pagination
  .page-item.active
  .page-link:focus {
  background-color: #4285f4;
}
div.dataTables_wrapper
  div.dataTables_paginate
  ul.pagination
  .page-item
  .page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 767px) {
  div.dataTables_wrapper div .dataTables_length,
  div.dataTables_wrapper div .dataTables_filter,
  div.dataTables_wrapper div .dataTables_info,
  div.dataTables_wrapper div .dataTables_paginate ul.pagination {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
  }
}
.bs-select select {
  display: inline-block !important;
}
table.dataTable thead {
  cursor: pointer;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  position: relative;
  cursor: pointer;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
  display: none;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f0de";
  display: none;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 16px;
  font-family: "Font Awesome\ 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  content: "\f0dd";
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
}
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}
.mdb-rating .rate-popover {
  color: #808080;
}
.mdb-rating .live {
  color: #000;
}
.mdb-rating .oneStar {
  color: #44370f;
}
.mdb-rating .twoStars {
  color: #96781e;
}
.mdb-rating .threeStars {
  color: #e2b52e;
}
.mdb-rating .fourStars {
  color: #f1ba12;
}
.mdb-rating .fiveStars {
  color: #f3cb06;
}
.mdb-rating .amber-text {
  color: #ffc107;
}
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #b0bed9;
}
table.dataTable.stripe tbody > tr.odd.selected,
table.dataTable.stripe tbody > tr.odd > .selected,
table.dataTable.display tbody > tr.odd.selected,
table.dataTable.display tbody > tr.odd > .selected {
  background-color: #acbad4;
}
table.dataTable.hover tbody > tr.selected:hover,
table.dataTable.hover tbody > tr > .selected:hover,
table.dataTable.display tbody > tr.selected:hover,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #aab7d1;
}
table.dataTable.order-column tbody > tr.selected > .sorting_1,
table.dataTable.order-column tbody > tr.selected > .sorting_2,
table.dataTable.order-column tbody > tr.selected > .sorting_3,
table.dataTable.display tbody > tr.selected > .sorting_1,
table.dataTable.display tbody > tr.selected > .sorting_2,
table.dataTable.display tbody > tr.selected > .sorting_3 {
  background-color: #acbad5;
}
table.dataTable.order-column tbody > tr > .selected,
table.dataTable.display tbody > tr > .selected {
  background-color: #acbad5;
}
table.dataTable.display tbody > tr.odd.selected > .sorting_1,
table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
table.dataTable.display tbody > tr.odd.selected > .sorting_2,
table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
table.dataTable.display tbody > tr.odd.selected > .sorting_3,
table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
table.dataTable.display tbody > tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
table.dataTable.display tbody > tr.even.selected > .sorting_2,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
table.dataTable.display tbody > tr.even.selected > .sorting_3,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
table.dataTable.display tbody > tr.odd > .selected,
table.dataTable.order-column.stripe tbody > tr.odd > .selected {
  background-color: #a6b4cd;
}
table.dataTable.display tbody > tr.even > .selected,
table.dataTable.order-column.stripe tbody > tr.even > .selected {
  background-color: #acbad5;
}
table.dataTable.display tbody > tr.selected:hover > .sorting_1,
table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
  background-color: #a2aec7;
}
table.dataTable.display tbody > tr.selected:hover > .sorting_2,
table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
  background-color: #a3b0c9;
}
table.dataTable.display tbody > tr.selected:hover > .sorting_3,
table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
  background-color: #a5b2cb;
}
table.dataTable.display tbody > tr:hover > .selected,
table.dataTable.display tbody > tr > .selected:hover,
table.dataTable.order-column.hover tbody > tr:hover > .selected,
table.dataTable.order-column.hover tbody > tr > .selected:hover {
  background-color: #a2aec7;
}
table.dataTable tbody td.select-checkbox,
table.dataTable tbody th.select-checkbox {
  position: relative;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  position: absolute;
  top: 1.2em;
  left: 50%;
  box-sizing: border-box;
  display: block;
  width: 12px;
  height: 12px;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
  margin-top: 4px;
  margin-left: -6px;
  content: " ";
  border: 1px solid #000;
  border-radius: 3px;
}
table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  margin-top: 0;
  margin-left: -4px;
  text-align: center;
  text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9,
    -1px 1px #b0bed9;
  content: "\2714";
}
div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}
@media screen and (max-width: 640px) {
  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    display: block;
    margin-left: 0;
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  background: #f6f9fc;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mdb-datatable .false {
  display: block !important;
  padding-top: 0.5rem;
  height: 60px;
  padding-bottom: 0.5rem;
  background-color: transparent;
}
.btnOutline:hover {
color: #fff !important;
background-color: #40a9ff;
}
table{
  margin-bottom: 0 !important;
}