/* .video-react .video-react-big-play-button {
    top: 45% !important;
    left: 45% !important;
} */
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 767px) {
  /* .video-js {
    height: 150px !important;
  } */
}
.videoResponsive {
  width: 100% !important;
}
