.logo {
  height: 32px;
  margin: 16px;
  background: rgba(31, 24, 24, 0.959);
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout{
  background: #fff;
}
.site-layout-background {
  background: #fff;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.main-menu.menu-shadow {
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}
.header-navbar.navbar-shadow {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.card {
  margin-bottom: 2rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}